@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";


html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
}

.footer {
    background-color: black;
    color: white;
}

main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    color: white;
}


.hero {
    text-align: center;
    color: white;
}

.hero .title,
.hero .subtitle {
    color: white;
}

.navbar {
    background-color: black;
    color: white;
}

.navbar-item {
    color: white;
}

.navbar-item:hover,
.navbar-item:focus {
    background-color: transparent;
    color: white;
}

.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background-color: black;
    color: white;
    padding: 8px 12px;
    z-index: 100;
    font-weight: bold;
}

.skip-link:focus {
    top: 0;
}