@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";


html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.footer {
    padding: 0;
}

.hero {
    text-align: center;
}

.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background-color: black;
    color: white;
    padding: 8px 12px;
    z-index: 100;
    font-weight: bold;
}

.skip-link:focus {
    top: 0;
}

:focus-visible {
    outline: 3px solid #fff;
    outline-offset: 3px;
}

.equipment-image {
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.equipment-image img {
    max-height: 100%;
    width: 100%;
    object-fit: contain;
}

.card-content {
    text-align: center;
}

.card-content .button {
    display: inline-flex;
    justify-content: center;
    margin-top: 0.5rem;
}

.usb-card .equipment-image img,
.usb-card .card-image img {
    max-height: 100px;
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.basket-icon {
    color: black;
    font-size: 30px;
}

.basket-total {
    margin-top: 16px;
}

.basket-buttons {
    margin-top: 24px;
}

.basket-date {
    margin-top: 50px;
    text-align: center;
}

.date-range {
    text-align: left;
}

.date-text {
    font-size: 15px;
}

.warning.message {
    margin-top: 50px;
    text-align: center;
    color: black;
    background-color: yellow;
    border: 2px solid red;
}


@media (prefers-color-scheme: dark) {
    .label,
    .box,
    .basket-total strong,
    .has-text-left strong,
    .input,
    .card-header-title,
    .content strong,
    .card {
        background-color: white;
        color: black;
    }
}

@media (prefers-color-scheme: light) {
    .card {
        background-color: white;
        color: black;
    }
}

.theme {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.theme main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.theme.default main,
.theme.default .section,
.theme.default .footer {
    background-color: black;
    color: white;
}

.theme.default .navbar {
    background-color: #1f3a5f;
}

.theme.default .title,
.theme.default .subtitle,
.theme.default .navbar-item,
.theme.default .navbar-link {
    color: white;
}

.theme.high main,
.theme.high .section,
.theme.high .footer {
    background-color: yellow;
    color: black;
}

.theme.high .title,
.theme.high .subtitle,
.theme.high .navbar {
    color: black;
}

.theme.high .navbar-item,
.theme.high .navbar-link {
    color: white;
}


.theme.low {
    background-color: black;
    color: white;
}

.theme.low main,
.theme.low .section,
.theme.low .footer {
    background-color: black;
    color: white;
}

.theme.low .navbar {
    background-color: ;
}

.theme.low .title,
.theme.low .subtitle,
.theme.low .navbar-item,
.theme.low .navbar-link {
    color: white;
}

.theme.default .navbar-item:hover,
.theme.default .navbar-link:hover {
    color: white;
}

.theme.high .navbar-item:hover,
.theme.high .navbar-link:hover {
    color: white;
}

.theme.low .navbar-item:hover,
.theme.low .navbar-link:hover {
    color: white;
}